<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <img [src]="p.imageURL" class="card-img">
        </mat-panel-title>
        <mat-panel-description>
            Nome: {{p.name}} | Preço: {{p.price}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    <mat-action-row>
        <button (click)="deleteProduct(p.id!)" class="btn btn-danger">
            Deletar
        </button>
        <button [routerLink]="['/product/edit', p.id]" class="btn btn-secondary">
            Editar
        </button>
    </mat-action-row>
</mat-expansion-panel> -->