<div *ngFor="let p of products" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li>
          ID: {{p.id}}
        </li>
        <li>
          Nome: {{p.name}}
        </li>
        <li>
          Descrição: {{p.description}}
        </li>
        <li>
          Preço: {{p.price}}
        </li>
        <li>
          Criado em: {{p.createdAt | date: 'short'}}
        </li>
      </ul>
      <button (click)="deleteProduct(p.id!)" class="btn btn-danger">
        Deletar
      </button>
      <button [routerLink]="['/product/edit', p.id]" class="btn btn-secondary">
        Editar
      </button>
    </div>
    <div class="col-md-4">
      <img [src]="p.imageURL" class="card-img">
    </div>
  </div>
</div>